/*
0-600px:        phone
600-900px:      tablet portrait
900-1200px:     tablet landscape
1200-1800px:    Normal style
1800px +:       Big desktop

$breakpoint argument choices:
- phone
- tabl-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  body > *:not(header) {
    padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #B82036;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*esto en realidad no me afecta, pero es lo que soluciona el problema de algun pequeno shake en la animacion, o al girar 180 que no se vea la parte trasera*/
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.1 0.75rem; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #dd1b38, #970e22);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4); }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

header .parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(80%); }
  @media only screen and (max-width: 56.25em) {
    header .parallax {
      height: 75vh; } }
  header .parallax .sunrise {
    background-color: #ffbb00;
    height: 100vh;
    width: 100%;
    z-index: 2;
    opacity: 25%; }
  header .parallax picture {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
    transition: all 0.2s; }
    header .parallax picture img {
      width: 100%;
      height: 100vh; }
      @media only screen and (max-width: 56.25em) {
        header .parallax picture img {
          height: 75vh; } }
    header .parallax picture.sun {
      left: -250px;
      top: -50px; }
      header .parallax picture.sun img {
        height: 80%; }
      @media only screen and (max-width: 56.25em) {
        header .parallax picture.sun {
          left: -50px;
          top: 250px; } }
    header .parallax picture.hill {
      top: 200px;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease; }
    header .parallax picture.logo {
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease-in; }
      header .parallax picture.logo img {
        height: 100%; }
    header .parallax picture.main {
      z-index: 2;
      top: 100px;
      animation-name: fadeIn;
      animation-duration: 2s;
      animation-timing-function: ease; }

header h1 {
  padding: 2rem;
  opacity: 0; }
  header h1.move-in {
    opacity: 1;
    animation-name: moveInBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease; }
    @media only screen and (max-width: 37.5em) {
      header h1.move-in {
        margin-top: 0 !important; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__background {
  height: 6rem;
  width: 3.3rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#1084f0, #0750af);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4rem;
      right: 4rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #B82036 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3.5rem;
    height: 2.5px;
    background-color: #dd1b38;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.25rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.25rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

#intro {
  padding: 20rem; }
  @media only screen and (max-width: 56.25em) {
    #intro {
      padding: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    #intro {
      padding: 4rem; } }
  #intro h1 {
    padding-bottom: 5rem;
    font-size: 2.5rem;
    color: #777; }
  #intro .with-img {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      #intro .with-img {
        align-items: center; } }
    @media only screen and (max-width: 37.5em) {
      #intro .with-img {
        flex-direction: column-reverse; } }
    #intro .with-img .text {
      padding-right: 10rem;
      width: 45vw;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 37.5em) {
        #intro .with-img .text {
          width: 80vw;
          padding-right: 0;
          text-align: justify; } }
      #intro .with-img .text p {
        font-size: 1.6rem; }
        @media only screen and (max-width: 56.25em) {
          #intro .with-img .text p {
            font-size: 2rem; } }
      #intro .with-img .text .btn {
        margin-top: 5rem; }
        @media only screen and (max-width: 37.5em) {
          #intro .with-img .text .btn {
            margin-top: 0;
            margin-bottom: 5rem; } }
    #intro .with-img .img {
      width: 35rem; }
      @media only screen and (max-width: 37.5em) {
        #intro .with-img .img {
          width: 25rem;
          margin: 10rem 0 5rem; } }
      #intro .with-img .img .intro-img {
        width: 100%; }

.col-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20rem 0 10rem;
  min-height: 90vh; }
  @media only screen and (max-width: 56.25em) {
    .col-2 {
      height: 75vh;
      margin: 0; } }
  @media only screen and (max-width: 37.5em) {
    .col-2 {
      flex-direction: column; } }
  .col-2 .img-container picture img {
    width: 60rem; }
    @media only screen and (max-width: 56.25em) {
      .col-2 .img-container picture img {
        width: 55rem; } }
    @media only screen and (max-width: 37.5em) {
      .col-2 .img-container picture img {
        width: 35rem; } }
  .col-2 .text-container {
    max-width: 60rem;
    padding: 0 10rem; }
    @media only screen and (max-width: 56.25em) {
      .col-2 .text-container {
        padding: 04rem;
        width: 280px; } }
    @media only screen and (max-width: 37.5em) {
      .col-2 .text-container {
        display: flex;
        width: 100%;
        padding: 0; } }
    .col-2 .text-container > * {
      font-size: xx-large; }
      @media only screen and (max-width: 56.25em) {
        .col-2 .text-container > * {
          font-size: large; } }
      @media only screen and (max-width: 37.5em) {
        .col-2 .text-container > * {
          margin-top: 2rem !important;
          font-size: medium; } }
      @media only screen and (max-width: 37.5em) {
        .col-2 .text-container > *:first-child {
          border-right: 1px solid #bbb; }
        .col-2 .text-container > *:last-child {
          padding-left: 0.6rem; } }

.footer {
  background-image: linear-gradient(to right bottom, #dd1b38, #970e22);
  color: #fff;
  padding: 2rem; }
  .footer p {
    font-size: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer p {
        font-size: 1.8rem; } }
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .footer__content--quote {
      width: 20%; }
      .footer__content--quote p.tiny-text {
        margin: 2rem 0 0 3rem; }
      @media only screen and (max-width: 56.25em) {
        .footer__content--quote {
          width: 27%; } }
      @media only screen and (max-width: 37.5em) {
        .footer__content--quote {
          width: 90%; }
          .footer__content--quote p {
            margin-top: 5rem;
            text-align: center; } }
    .footer__content--logo {
      width: 20%;
      fill: #fff;
      text-align: center; }
      .footer__content--logo img {
        width: 100%; }
      @media only screen and (max-width: 37.5em) {
        .footer__content--logo {
          width: 70%;
          margin: 5rem 0; } }
    @media only screen and (max-width: 56.25em) {
      .footer__content--social {
        margin-bottom: 3rem; } }
    .footer__content--social > div {
      margin-top: 2.5rem;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .footer__content--social > div {
          margin-top: 1rem; } }
      .footer__content--social > div > svg {
        width: 10rem;
        fill: #970e22;
        height: 4rem; }
        @media only screen and (max-width: 56.25em) {
          .footer__content--social > div > svg {
            width: 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .footer__content--social > div:first-of-type {
          margin-top: 0; } }
    .footer__content--social .mobile a,
    .footer__content--social .mail a,
    .footer__content--social .facebook a,
    .footer__content--social .instagram a {
      text-decoration: none;
      color: #fff;
      border-bottom: 0.5px dotted rgba(255, 255, 255, 0.26); }
    .footer__content--social .mobile svg,
    .footer__content--social .mail svg,
    .footer__content--social .facebook svg,
    .footer__content--social .instagram svg {
      transition: all 0.5s; }
    .footer__content--social .mobile:hover svg {
      fill: #08112f; }
    .footer__content--social .mail:hover svg {
      fill: #f4f4f4; }
    .footer__content--social .facebook:hover svg {
      fill: #3b5998; }
    .footer__content--social .instagram:hover svg {
      fill: #833AB4; }
    @media only screen and (max-width: 37.5em) {
      .footer__content {
        flex-direction: column; } }
  .footer__copyright {
    text-align: center; }
    .footer__copyright a {
      color: #ffbb00;
      transition: all 1s ease;
      display: inline-block;
      text-decoration: none; }
    .footer__copyright a:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(-5deg) scale(1.3);
      background-color: #970e22; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright {
        font-size: 2rem; } }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  background-color: #0861D7;
  color: #fff;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #B82036;
  color: #fff; }
  .btn--green::after {
    background-color: #B82036; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #B82036;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #970e22;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #B82036;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  transform: translateY(-4px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

@media only screen and (max-width: 37.5em) {
  #section-imgs {
    display: none; } }

#section-imgs .showcase {
  list-style: none;
  width: 100%;
  height: 25rem; }
  #section-imgs .showcase li {
    display: block;
    float: left;
    width: 25%;
    height: auto; }
  #section-imgs .showcase-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black; }
    #section-imgs .showcase-photo .showcase-picture {
      height: auto; }
      #section-imgs .showcase-photo .showcase-picture .showcase-img {
        opacity: 0.6;
        width: 100%;
        height: 25rem;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }
        #section-imgs .showcase-photo .showcase-picture .showcase-img:hover {
          -webkit-transform: scale(1.055);
          transform: scale(1.055);
          opacity: 1; }

.facts__container {
  font-size: 1.4rem;
  list-style: none;
  margin: 5.5rem; }
  @media only screen and (max-width: 37.5em) {
    .facts__container {
      margin: 0; } }
  .facts__container .fact {
    display: flex;
    flex-direction: column;
    cursor: pointer; }
    .facts__container .fact .r::first-letter {
      color: #B82036;
      font-size: 5.7rem; }
    .facts__container .fact .r::before {
      background: #B82036; }
    .facts__container .fact .y::first-letter {
      color: #e4ce07;
      font-size: 5.7rem; }
    .facts__container .fact .y::before {
      background: #e4ce07; }
    .facts__container .fact .g::first-letter {
      color: #09924e;
      font-size: 5.7rem; }
    .facts__container .fact .g::before {
      background: #09924e; }
    .facts__container .fact__title {
      position: relative;
      transition: color 0.8s;
      font-size: 4.8rem;
      padding-left: 3rem;
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .facts__container .fact__title {
          font-size: 4rem; } }
      @media only screen and (max-width: 37.5em) {
        .facts__container .fact__title {
          font-size: 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .facts__container .fact__title {
          flex: 1; } }
      .facts__container .fact__title::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: #B82036;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
      .facts__container .fact__title:hover {
        color: #fff; }
        .facts__container .fact__title:hover::first-letter {
          color: #fff; }
      .facts__container .fact__title:hover::before {
        transform: scaleY(1);
        width: 100%;
        z-index: -1; }
    .facts__container .fact ol {
      align-self: center;
      width: 80%;
      font-size: 2rem;
      line-height: 4rem; }
    .facts__container .fact .hidden {
      display: none; }
    .facts__container .fact .active {
      display: block;
      color: #fff; }
      .facts__container .fact .active::before {
        transform: scaleY(1);
        width: 100%;
        z-index: -1; }
      .facts__container .fact .active li,
      .facts__container .fact .active small {
        color: #777; }
  .facts__container strong {
    color: #0861D7;
    font-weight: bolder; }

#section-products {
  display: flex;
  flex-direction: column; }
  #section-products h1 {
    margin-bottom: 10rem; }
  #section-products .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin-bottom: 20rem; }
    #section-products .products picture {
      position: relative;
      margin: 7rem 5rem;
      cursor: pointer; }

@media only screen and (hover: none) and (max-width: 56.25em) {
  #section-products .products picture::after {
    content: "+info";
    position: absolute;
    top: 85%;
    left: 42%;
    font-size: 2rem;
    color: #0862d785;
    border-radius: 50%; } }

@media only screen and (hover: none) and (max-width: 56.25em) {
  #section-products .products picture::after {
    top: 55%;
    left: 35%; } }
      @media only screen and (max-width: 37.5em) {
        #section-products .products picture {
          margin: 3rem 2rem; } }
      #section-products .products picture::before {
        position: absolute;
        right: 20rem;
        top: -6rem;
        font-size: 3.5rem;
        width: fit-content; }
        @media only screen and (max-width: 37.5em) {
          #section-products .products picture::before {
            font-size: 2.3rem;
            right: 5rem; } }
      #section-products .products picture:hover::after {
        content: "+info";
        position: absolute;
        top: 30%;
        left: 30%;
        font-size: 4rem;
        padding: 1rem;
        color: #0861D7;
        background-color: rgba(255, 255, 255, 0.678);
        border-radius: 50%; }
      #section-products .products picture:hover .product {
        filter: blur(8px) brightness(100%);
        transform: scale(0.9); }
      #section-products .products picture .product {
        width: 35rem;
        height: auto;
        transition: all 0.5s; }
        @media only screen and (max-width: 56.25em) {
          #section-products .products picture .product {
            width: 30rem; } }
        @media only screen and (max-width: 37.5em) {
          #section-products .products picture .product {
            width: 15rem; } }
      @media only screen and (max-width: 56.25em) {
        #section-products .products picture.queso {
          margin-left: 93px; } }
      @media only screen and (max-width: 37.5em) {
        #section-products .products picture.queso {
          margin-left: 2.4rem; } }
      #section-products .products picture.queso::before {
        content: "Queso Fresco"; }
      #section-products .products picture.leche::before {
        content: "Leche Pura"; }
      #section-products .products picture.mantequilla::before {
        content: "Mantequilla"; }
      #section-products .products picture.requeson::before {
        content: "Requeson"; }
      #section-products .products picture.nata::before {
        content: "Nata"; }

footer .modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s; }
  footer .modal-bg.bg-active {
    visibility: visible;
    opacity: 1; }
  footer .modal-bg .modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 70%;
    position: relative;
    border-radius: 8px; }
    @media only screen and (max-width: 75em) {
      footer .modal-bg .modal {
        width: 80%; } }
    @media only screen and (max-width: 37.5em) {
      footer .modal-bg .modal {
        width: 95%; } }
    footer .modal-bg .modal picture img {
      width: 100%; }
  footer .modal-bg .modal-close {
    color: #B82036;
    position: absolute;
    top: 3rem;
    right: 30rem;
    padding: 0 2rem;
    font-weight: bold;
    font-size: xxx-large;
    background-color: #0862d785;
    border-radius: 50%;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      footer .modal-bg .modal-close {
        top: 19rem;
        right: 4rem;
        font-size: xx-large; } }
    @media only screen and (max-width: 56.25em) {
      footer .modal-bg .modal-close {
        top: 19rem;
        right: 4rem;
        font-size: xx-large; } }
    @media only screen and (max-width: 37.5em) {
      footer .modal-bg .modal-close {
        font-size: large;
        top: 15rem;
        right: 1rem;
        padding: 0 1rem; } }

.section-form {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(216, 148, 0, 0.568), rgba(116, 79, 1, 0.692)); }
  @media only screen and (max-width: 56.25em) {
    .section-form {
      padding: 10rem 0; } }
  .section-form .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url(../imgs/saludo.jpg);
    background-size: 100%;
    margin: 0 8rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25); }
    @media only screen and (max-width: 75em) {
      .section-form .book {
        background-size: cover; } }
    @media only screen and (max-width: 56.25em) {
      .section-form .book {
        background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%), url(../imgs/saludo.jpg); } }
    @media only screen and (max-width: 37.5em) {
      .section-form .book {
        margin: 0 3rem; } }
    .section-form .book__form {
      width: 50%;
      padding: 6rem; }
      @media only screen and (max-width: 75em) {
        .section-form .book__form {
          width: 65%; } }
      @media only screen and (max-width: 56.25em) {
        .section-form .book__form {
          width: 100%; } }
    .section-form .book .form__group:not(:last-child) {
      margin-bottom: 2rem; }
    .section-form .book .form__input {
      font-size: 1.6rem;
      font-family: inherit;
      color: #333;
      padding: 1.5rem 2rem;
      border-radius: 2px;
      background-color: rgba(216, 148, 0, 0.1);
      border: 1px solid;
      display: block;
      width: 90%;
      transition: all 0.3s; }
      @media only screen and (max-width: 56.25em) {
        .section-form .book .form__input {
          width: 100%; } }
      .section-form .book .form__input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #009c34; }
      .section-form .book .form__input:focus:invalid {
        border-bottom: 3px solid #e91717; }
      .section-form .book .form__input::-webkit-input-placeholder {
        color: #999; }
    .section-form .book .form__label {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 2rem;
      margin-top: 0.7rem;
      display: block;
      transition: all 0.3s; }
    .section-form .book .form__input:placeholder-shown + .section-form .book .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }
    .section-form .book .form textarea::placeholder {
      color: #666; }
