header {
  .parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(80%);

    @include respond(tab-port) {
      height: 75vh;
    }

    .sunrise {
      background-color: rgb(255, 187, 0);
      height: 100vh;
      width: 100%;
      z-index: 2;
      opacity: 25%;
    }

    picture {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      pointer-events: none;
      transition: all 0.2s;

      img {
        width: 100%;
        height: 100vh;

        @include respond(tab-port) {
          height: 75vh;
        }
      }

      &.sun {
        left: -250px;
        top: -50px;
        img {
          height: 80%;
        }

        @include respond(tab-port) {
          left: -50px;
          top: 250px;
        }
      }

      &.hill {
        top: 200px;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease;
      }

      &.logo {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: fadeIn;
        animation-duration: 2s;
        animation-timing-function: ease-in;

        img {
          height: 100%;
        }
      }

      &.main {
        z-index: 2;
        top: 100px;
        animation-name: fadeIn;
        animation-duration: 2s;
        animation-timing-function: ease;
      }
    }
  }

  h1 {
    padding: 2rem;
    opacity: 0;

    &.move-in {
      opacity: 1;
      animation-name: moveInBottom;
      animation-duration: 1.5s;
      animation-timing-function: ease;

      @include respond(phone) {
        margin-top: 0 !important;
      }
    }
  }
}
