#intro {
  padding: 20rem;

  @include respond(tab-port) {
    padding: 8rem;
  }

  @include respond(phone) {
    padding: 4rem;
  }

  h1 {
    padding-bottom: 5rem;
    font-size: 2.5rem;
    color: $color-grey-dark;
  }

  .with-img {
    display: flex;

    @include respond(tab-port) {
      align-items: center;
    }

    @include respond(phone) {
      flex-direction: column-reverse;            
    }

    .text {
      padding-right: 10rem;
      width: 45vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond(phone) {
        width: 80vw;
        padding-right: 0;
        text-align: justify;
      }

      p {
        font-size: $default-font-size;

        @include respond(tab-port) {
          font-size: 2rem;
        }
      }

      .btn {
        margin-top: 5rem;

        @include respond(phone) {
          margin-top: 0;
          margin-bottom: 5rem;
        }
      }
    }

    .img {
      width: 35rem;

      @include respond(phone) {
        width: 25rem;
        margin: 10rem 0 5rem;
      }

      .intro-img {
        width: 100%;
      }
    }
  }
}
