.facts__container {
  font-size: 1.4rem;
  list-style: none;
  margin: 5.5rem;

  @include respond(phone) {
    margin: 0;
  }

  .fact {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    & .r {
      &::first-letter {
        color: $color-primary;
        font-size: 5.7rem;
      }

      &::before {
        background: $color-primary;
      }
    }

    & .y {
      &::first-letter {
        color: rgb(228, 206, 7);
        font-size: 5.7rem;
      }

      &::before {
        background: rgb(228, 206, 7);
      }
    }

    & .g {
      &::first-letter {
        color: rgb(9, 146, 78);
        font-size: 5.7rem;
      }

      &::before {
        background: rgb(9, 146, 78);
      }
    }

    &__title {
      position: relative;
      transition: color 0.8s;
      font-size: 4.8rem;
      padding-left: 3rem;
      margin-bottom: 0.5rem;

      @include respond(tab-port) {
        font-size: 4rem;
      }

      @include respond(phone) {
        font-size: 2rem;
      }

      @include respond(tab-port) {
        flex: 1;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: $color-primary;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
          background-color 0.1s;
      }

      &:hover {
        color: $color-white;

        &::first-letter{
          color: $color-white;
        }
      }

      &:hover::before {
        transform: scaleY(1);
        width: 100%;
        z-index: -1;
      }
    }

    & ol {
      align-self: center;
      width: 80%;
      font-size: 2rem;
      line-height: 4rem;
    }

    & .hidden {
      display: none;
    }

    & .active {
      display: block;
      color: $color-white;

      &::before {
        transform: scaleY(1);
        width: 100%;
        z-index: -1;
      }

      li,
      small {
        color: $color-grey-dark;
      }
    }
  }

  strong {
    color: $color-secondary;
    font-weight: bolder;
  }
}
